.label{
    color: rgb(199, 245, 245);
    background-color: rgba(201, 184, 184, 0.1);
    /* text-align: center; */
    display:flex;
    justify-content:space-around
}


.editbtn {
    color: white;
    display: flex;
    /* text-align: center; */
    /* margin: auto; */
    background: none;
    margin: 0 12px;
    /* margin-top: 42px; */
    font-family: Montserrat;
    font-weight: 300;
    outline: none;
    border-radius: 8px;
    /* text-transform: uppercase; */
    width: 100px;
    height: 32px;
    cursor: pointer;
    border: 1px solid rgb(228, 49, 94);
    justify-content: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    padding: 0;
    /* margin-top: 50px;   dsadsssadsa*/
  }
  
  .editbtn:hover {
    font-weight: 300;
    background-color: rgb(64, 167, 226);
    color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
  }
  
  .editbtn:active {
    background-color: rgb(219, 191, 28);
    transform: scale(1);
    color: rgba(0, 0, 0, 0.8);
  }

  .box2{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content:flex-start;
  }